import(rJava)
importFrom(graph, graphNEL)
import(RBGL)
importFrom(stringr, str_split_fixed)
export("bayesEst")
export("ccd")
export("cfci")
export("fci")
export("rfci")
export("fgs")
export("fgs.discrete")
export("cpc")
export("cpcstable")
export("pc")
export("pcstable")
export("priorKnowledge")
export("priorKnowledgeFromFile")
export("randomDag")
# Export all names
# exportPattern(".")