import(rJava)
importFrom(graph, graphNEL)
import(RBGL)
importFrom(stringr, str_split_fixed)
export("bayesEst")
export("ccd")
export("ccdmax")
export("cfci")
export("fci")
export("fcimax")
export("rfci")
export("gfci")
export("gfci.discrete")
export("tsfci")
export("tsgfci")
export("tsgfci.discrete")
export("fges")
export("fges.discrete")
export("imagesSemBic")
export("imagesBDeu")
export("fgesmb")
export("cpc")
export("cpcstable")
export("pc")
export("pcmax")
export("pcstable")
export("priorKnowledge")
export("priorKnowledgeFromFile")
export("randomDag")
export("glasso")
export("imagesccd")
export("tsimages")
export("tsimages.discrete")
export("jcpc")
export("mgm")
export("bpc")
export("fofc")
export("ftfc")
export("mbfs")
export("graph.converter")
export("lofs")
export("lofs.rule.igci")
export("lofs.rule.r1timelag")
export("lofs.rule.r1")
export("lofs.rule.r2")
export("lofs.rule.r3")
export("lofs.rule.r4")
export("lofs.rule.tanh")
export("lofs.rule.eb")
export("lofs.rule.skew")
export("lofs.rule.skewe")
export("lofs.rule.rskew")
export("lofs.rule.rskewe")
export("lofs.rule.patel")
export("lofs.rule.patel25")
export("lofs.rule.patel50")
export("lofs.rule.patel75")
export("lofs.rule.patel90")
export("lofs.rule.fastica")
export("lofs.rule.rc")
export("lofs.rule.nlo")
# export("lingam")
# Export all names
# exportPattern(".")