import(rJava)
# importFrom(graph, graphNEL)
# import(RBGL)
importFrom(stringr, str_split_fixed)
export("bayesEst")
export("bootstrap.fges.discrete")
export("bootstrap.fges.mixed")
export("bootstrap.fges")
export("bootstrap.gfci.discrete")
export("bootstrap.gfci.mixed")
export("bootstrap.gfci")
export("bootstrap.rfci.discrete")
export("bootstrap.rfci.mixed")
export("bootstrap.rfci")
export("ccd")
export("cfci")
export("fci")
export("rfci.discrete")
export("rfci.mixed")
export("rfci")
export("gfci")
export("gfci.discrete")
export("gfci.mixed")
export("fges")
export("fges.discrete")
export("fges.mixed")
export("fas")
export("fas.discrete")
export("fas.mixed")
export("cpc")
export("cpcstable")
export("pc")
export("pcmax")
export("pcstable")
export("priorKnowledge")
export("priorKnowledgeFromFile")
export("randomDag")
export("dm")
# Export all names
# exportPattern(".")